<mat-card class="ml-3 mr-3 mb-3" [id]="id" [title]="title">
    <mat-card-title>
        {{title}}
    </mat-card-title>
    <mat-card-subtitle>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas magna ac mollis semper. Mauris sit amet augue a diam ornare faucibus id quis neque. Etiam sed diam erat. Etiam dictum finibus massa eget ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ullamcorper, massa in aliquam interdum, diam tortor scelerisque sem, molestie rhoncus urna nisl in velit. In neque metus, commodo a ante in, lacinia viverra nisl. Nulla pharetra arcu elit. Nullam feugiat finibus dui, id faucibus orci blandit ac. Maecenas arcu mi, viverra eu risus eget, mollis auctor elit. Sed eu dignissim quam. Nulla id tempor enim, eu convallis leo. Donec in ornare tellus. Duis vel eros felis. Morbi euismod nisl nec sem porta viverra.
        </p>
        
        <p>
            Nunc ante metus, convallis et porttitor ac, viverra ut libero. Sed ut nisl sed lacus efficitur commodo. Vivamus vestibulum arcu eros, sit amet feugiat est blandit ut. Morbi viverra tempor lectus, sed varius est. Aliquam vulputate a lorem sit amet lacinia. Vivamus lectus ex, lacinia id facilisis sodales, venenatis eu ante. In nec nisl efficitur, vehicula nunc eu, gravida augue. Pellentesque ac enim non elit facilisis mollis. Sed elementum elit ut justo iaculis, vitae venenatis lacus ultrices. Vestibulum dignissim fermentum orci in blandit. Nulla ipsum lorem, fermentum at purus id, laoreet lacinia lacus. Cras sagittis lorem sit amet commodo aliquet. Etiam sapien justo, sodales quis nunc vel, gravida ullamcorper sapien. Nam et egestas dolor. Mauris viverra, sapien non commodo rhoncus, purus libero faucibus felis, eget rhoncus velit risus sed dolor. Mauris interdum dolor turpis, eu efficitur velit semper id.
        </p>

        <p>
            Etiam quam lacus, fermentum ac mattis quis, consequat vitae massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu posuere ligula. Integer quam urna, gravida quis luctus et, pulvinar at risus. Donec maximus metus nisi, sed ultricies lectus tempor nec. Sed eget mi nec nisi vestibulum vulputate ac vitae felis. Fusce vitae pharetra massa. Sed dapibus nulla a neque feugiat rutrum. Aliquam quam est, commodo laoreet arcu in, efficitur convallis odio. Suspendisse sit amet ultricies dui.
        </p>

        <p>
            Cras varius finibus velit, ut congue orci laoreet a. Suspendisse potenti. Morbi eleifend at nibh eu facilisis. Nunc efficitur, turpis vel pulvinar molestie, odio nunc ullamcorper erat, quis aliquam justo arcu eget est. Aenean non enim efficitur, venenatis libero ac, feugiat arcu. Aliquam vel dapibus massa, et cursus ante. Curabitur at velit a metus semper pharetra at ut dolor. Phasellus finibus ornare sapien, sit amet elementum urna aliquet vitae. Nulla gravida sapien vel vehicula aliquam. Nulla eu nisl tristique, fermentum nisi a, scelerisque augue. Mauris fringilla sollicitudin lorem in fermentum.
        </p>
    </mat-card-subtitle>
</mat-card>
