
<div class="sticky-top">
	<!--<mat-card class="p-1">-->
    <mat-card>
		<div class="chapter-main-container">
			<mat-card-content *ngFor="let section of sections">
				<div class="chapter">
					<div class="chapter-left-container">
						<div class="chapter-icon"
							 [ngClass]="currentSectionId == section.id ? 'focused' : 'unfocused'">
						</div>

					</div>
					<div class="chapter-right-container">
						<a href="#{{section.id}}"
							[ngClass]="currentSectionId == section.id ? 'focused' : 'unfocused'" #navItem>
							{{section.title}}
						</a>
						<!--<mat-divider *ngIf="i !== sections.length-1"></mat-divider>-->
					</div>
					<div class="clear"></div>
				</div>
			</mat-card-content>
		</div>
    </mat-card>
</div>
