$focus-color: #005b96;
$unfocus-color: #939393;

div, a {
	transition: 0.5s;
	transition-timing-function: ease;
}

.sticky-top
{
    top: 50px;
}

.no-nothing {
	padding: 0px;
	margin: 0px;
}

.bigger-card {
	width: 400px;
}

.chapter-icon {
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.chapter {
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
}

.clear {
	clear: both;
}

.chapter-left-container {
	float: left;
	width: 30px;
}

.chapter-right-container {
	float: left;
	line-height: 30px;
	padding-left: 10px;
	font-family: arial;
	font-size: 1.6em;
	word-wrap: break-word;
	width: 300px;
}

.chapter-main-container {
	width: 100%;
}

a {
	text-decoration: none;
	font-size: 1.2em;
}

a.focused {
	color: $focus-color;
}

a.unfocused {
	color: $unfocus-color;
}

.chapter-icon.focused {
	box-shadow: $focus-color 0px 0px 0px 8px inset;
}

.chapter-icon.unfocused {
	box-shadow: $unfocus-color 0px 0px 0px 15px inset;
	transform: scale(.5, .5);
}

.line-container {
	width: 30px;
}

.box {
	margin: auto;
	background-color: $unfocus-color;
	width: 3px;
	height: 20px;
}
