$text-focus-color: #333333;
$focus-color: #03a5fc; //#005b96;
$unfocus-color: #939393;

$dot-radius: 15px;

div, a {
	transition: 0.4s;
	transition-timing-function: ease;
}

.sticky-top
{
    top: 50px;
}

.no-nothing {
	padding: 0px;
	margin: 0px;
}

/*.bigger-card {
	width: 400px;
}*/

.chapter-icon {
	border-radius: 50%;
	width: $dot-radius;
	height: $dot-radius;
}

.chapter-row {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
}

.clear {
	clear: both;
}

.chapter-left-container {
	float: left;
	width: 30px;
}

.chapter-right-container {
	float: left;
	line-height: 30px;
	padding-left: 10px;
	font-family: arial;
	font-size: 1.6em;
	word-wrap: break-word;
	width: 300px;
}

.chapter-main-container {
	//width: 100%;
}

a {
	//text-decoration: none;
	margin-left: 5px;
	font-family: 'Roboto';
	font-size: 1em;
	font-weight: 400;
}

a.focused {
	color: $text-focus-color;	//$focus-color;
	margin-left: 10px;
	font-size: 1.25em;
	font-weight: 400;
}

a.unfocused {
	color: $unfocus-color;
}

.chapter-icon.focused {
	box-shadow: $focus-color 0px 0px 0px 100px inset;
}

.chapter-icon.unfocused {
	box-shadow: $unfocus-color 0px 0px 0px 15px inset;
	transform: scale(.6, .6);
}

.line-container {
	//width: 30px;
}

$line-width: 2px;

.line {
	width: $line-width;
	margin-left: ($dot-radius / 2) - ($line-width / 2);
	margin-top: - 5px;
	margin-bottom: -5px;
	background-color: lightgray;
	height: 15px;
}
