
<div class="sticky-top">
    <mat-card>
		<mat-card-content class="no-nothing" *ngFor="let section of sections;let i = index">
			<div class="chapter-row">
					<div class="chapter-icon"
							[ngClass]="currentSectionId == section.id ? 'focused' : 'unfocused'">
					</div>
					<a href="#{{section.id}}"
						[ngClass]="currentSectionId == section.id ? 'focused' : 'unfocused'" #navItem>
						{{section.title}}
					</a>

				<div class="clear"></div>
			</div>
			<div class="line-container" *ngIf="i !== sections.length-1">
				<div class="line"></div>
			</div>
		</mat-card-content>
    </mat-card>
</div>
